@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@keyframes glow {
  0% { box-shadow: 0 0 10px rgba(59,130,246,0.3); }
  50% { box-shadow: 0 0 25px rgba(59,130,246,0.8); }
  100% { box-shadow: 0 0 10px rgba(59,130,246,0.3); }
}

.glow {
  animation: glow 2s infinite ease-in-out;
}